/* components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a3c3b;
  color: #fff;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: 15px;
}

.links a {
  color: #f5f0f0;
  text-decoration: none;
  font-size: small
}
@media screen and (min-width: 768px) {
  .links a {
    background-color: #0a3c3b; 
    font-size: medium;
    padding: 10px;
  }
  
}
.links a:hover {
  color: #d3b43d;
  transition: all  0.4s;
  font-weight: bolder;
  transform: scale(.97);
}

.toggler {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #0a3c3b;
    padding: 10px;
  }

  .links.open {
    display: flex;
  }

  .toggler {
    display: block;
  }
}
