@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Amiri";
  src: url("/fonts/Amiri-Regular.ttf") format("truetype"),
    url("/fonts/Amiri-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Amiri", serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: small;
}
.green {
  color: #0a3c3b;
}
.gold {
  color: #d3af37;
}
/* components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a3c3b;
  color: #fff;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 20px;
  margin-right: 15px;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.toggler {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: row;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60px;
    padding-left: 20px;
    background-color: #0a3c3b;

    margin-left: 5px;
  }

  .links.open {
    display: flex;
    padding: 3px;
  }

  .toggler {
    display: block;
  }
}
/* components/Footer.module.css */
.footer {
  background-color: #0a3c3b;
  /* Adjust the color as needed */
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
}

.logo {
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Adjust spacing between links */
  margin-bottom: 10px;
}

.links a {
  text-decoration: none;
  color: wheat;
  /* Adjust the color as needed */
  font-size: 16px;
  /* Adjust font size as needed */
}

.footerText h1 {
  font-size: 24px;
  /* Adjust font size as needed */
  margin: 0;
  color: wheat;
}
.h1-blog-header {
  color: #0a3c3b;
}
.li-border-color {
  border-bottom: solid 2px #d2b338;
}
.h2-blog-header{
  color:#d2b338 ;
}
.hover-btn:hover{
  color:#d2b338 ;
}
.ul-color .li-price{
  color: #108280;
}
.ul-color .bold-price{
  color:#d2b338  ;
}
